@charset "UTF-8";

body {
    background-color: white;
}

h1 {
    color: #19a3bb;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    background: black;
    color: #ffff;
}

p {
    color: red;
}

.exemplo-back {
    height: 300px;
    background: url("../img/background.jpg");
    background-size: cover;
}