@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Indie+Flower&display=swap');


body {
    background-color: white;
}

h1 {
    color: #ffff;
    border: 1px solid black;
    border-radius: 20px;
    background: black;
    text-align: center;
    font-family: "Anton", sans-serif;
}

p {
    color: black;
    text-align: justify;
    text-indent: 60px;
    font-family: "Indie Flower", cursive;
    font-size: 30px;
    font-weight: bold;
}

.exemplo-back {
    height: 100px;
    background: url("../img/background.jpg");
    background-size: cover;
    margin-bottom: 100px;
}

.botao {
    margin-left: 33%;
    background: green;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
    text-decoration: none;
}

.botao:hover {
    background: blue;
}

.teste {
    max-width: 800px;
    height: 250px;
    background: cyan;
}